@font-face {
  font-family: poppins;
  src: url("../css/poppins/Poppins-Regular.ttf");
}

body {
  font-family: poppins;
}

.centrage{
  display: block;
   margin-left: auto;
    margin-right: auto;
}
